.available-meals {
   width: 90%;
   max-width: 80rem;
   min-height: 20rem;
   margin: 3.2rem auto;
   animation: meals-appear 1s ease-out forwards;

   & ul {
      list-style: none;
   }
}

@keyframes meals-appear {
   from {
     opacity: 0;
     transform: translateY(3rem);
   }
 
   to {
     opacity: 1;
     transform: translateY(0);
   }
}